.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.idea
# for when creating a simlink
# > ln -s ~/projects/nerd-bowl-vault/site content
content